<!-- INCLUDE DE LOS JS NECESARIOS PARA DESARROLLO -->

<!-- JS Global Compulsory -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/assets/vendor/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>


<!-- JS Implementing Plugins -->
<script src="/assets/vendor/appear.js"></script>
<script src="/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/vendor/circles/circles.min.js"></script>
<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>

<!-- JS Unify -->
<script src="/assets/js/hs.core.js"></script>
<script src="/assets/js/components/hs.header.js"></script>
<script src="/assets/js/helpers/hs.hamburgers.js"></script>
<script src="/assets/js/helpers/hs.height-calc.js"></script>
<script src="/assets/js/components/hs.tabs.js"></script>
<script src="/assets/js/components/hs.popup.js"></script>
<script src="/assets/js/components/text-animation/hs.text-slideshow.js"></script>
<script src="/assets/js/components/hs.rating.js"></script>
<script src="/assets/js/components/hs.onscroll-animation.js"></script>
<script src="/assets/js/components/hs.go-to.js"></script>
<script src="/assets/js/components/hs.carousel.js"></script>

<!-- JS Customization -->
<script src="/assets/js/custom.js"></script>

<!-- API for sent emails -->
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
  (function() {
    emailjs.init("user_Hopd6SgEyxvsIFC4VTcCc");
  })();
</script>
