<script>
  $(document).on('ready', function() {
    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');

    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]');

    // initialization of header height offset
    $.HSCore.helpers.HSHeightCalc.init();

    // initialization of scroll animation
    $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

    // initialization of popups with media
    $.HSCore.components.HSPopup.init('.js-fancybox-media', {
      helpers: {
        media: {},
        overlay: {
          css: {
            'background': 'rgba(255, 255, 255, .8)'
          }
        }
      }
    });


    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function() {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });
  });

  $(window).on('resize', function() {
    setTimeout(function() {
      $.HSCore.components.HSTabs.init('[role="tablist"]');
    }, 200);
  });

  //For sending emails
  var email = "";
  var name = "";
  var subject = "";
  var message = "";
  $(".email-form").focusout(function() {
    email = $(this).val();
  });
  $(".name-form").focusout(function() {
    name = $(this).val();
  });
  $(".subject-form").focusout(function() {
    subject = $(this).val();
  });
  $(".message-form").focusout(function() {
    message = $(this).val();
  });
  (function() {
    emailjs.init("user_Hopd6SgEyxvsIFC4VTcCc");
  })();

  $("#enviarEmail").click(function() {
    var template_params = {
      from_email: email,
      subject: subject,
      from_name: name,
      message_html: message
    }

    var service_id = "default_service";
    var template_id = "template_SDZsLF1w";
    emailjs.send(service_id, template_id, template_params);
  });
</script>
