<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>{{page.title}} | PyCardio</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  <!-- CSS LINKS -->
  {% include css.html %}
</head>

<body>
  <!-- HEADER -NAVBAR  -->
  {% include header.html %}

  <!-- BREADCRUMBER -->
  {% include breadc.html %}


  <!-- Blog Minimal Blocks -->
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <!-- Blog Minimal Blocks -->
        <article class="g-mb-100">
          <div class="g-mb-30">
            <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">{{page.date}}</span>
            <h2 class="h4 g-color-black g-font-weight-600 mb-3"><a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">{{page.title_blog}}</a></h2>
            <p class="g-color-gray-dark-v4 g-line-height-1_8">{{content}}</p>
            <!-- <a class="g-font-size-13" href="#!">Read more...</a> -->
          </div>

          <ul class="list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
            <li class="list-inline-item g-color-gray-dark-v4 mr-2">
              <span class="d-inline-block g-color-gray-dark-v4">
                <img class="g-g-width-20 g-height-20 rounded-circle mr-2" src="{{site.url}}/{{page.path_author}}" alt="Image Description">
                {{page.author}}
              </span>
            </li>
          </ul>
        </article>
        <!-- End Blog Minimal Blocks -->

      </div>
    </div>
  </div>
  <!-- End Blog Minimal Blocks -->


  <!-- FOOTER  -->
  {% include footer.html %}



  <!-- JS LINKS -->
  {% include js.html%}

  <!-- JS SCRIPT -->
  {% include script.html%}

</body>
