<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>{{page.title}} | PyCardio</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">


  {% include error.html%}


  <!-- CSS LINKS -->
  {% include css.html %}

  <!-- JS LINKS -->
  {% include js.html%}
</head>

<body>
  <!-- HEADER -NAVBAR  -->
  {% include header.html %}

  <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">

  <!-- Blog Minimal Blocks -->
  <div class="container g-pt-40 g-pb-20">
    <div class="row justify-content-between">
      <div class="col-lg-9 g-mb-80">
        <div class="g-pr-20--lg">
          <!-- Blog Minimal Blocks -->
          <article class="g-mb-100">
            <div class="g-mb-30">
              <span class="d-block g-color-gray-dark-v4 g-font-weight-700 g-font-size-12 text-uppercase mb-2">{{page.date | date_to_long_string }}</span>
              <h2 class="h4 g-color-black g-font-weight-600 mb-3">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">{{page.title}} </a>
              </h2>
              <a class="u-tags-v1 g-color-white g-bg-green g-bg-black--hover g-py-4 g-px-10" href="#">Blog</a>
              <p class="g-color-gray-dark-v4 g-line-height-1_8">{{ content }} </p>
            </div>

            <ul class="list-inline g-brd-y g-brd-gray-light-v3 g-font-size-13 g-py-13 mb-0">
              <li class="list-inline-item g-color-gray-dark-v4 mr-2">
                <span class="d-inline-block g-color-gray-dark-v4">
                  <img class="g-g-width-20 g-height-20 rounded-circle mr-2" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
                  {{ page.author }}
                </span>
              </li>
            </ul>
          </article>
          <!-- End Blog Minimal Blocks -->
        </div>
      </div>

      {% include blog_panel.html %}

    </div>
  </div>

  <!-- LINK TO INIT -->
  <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
   "bottom": 15,
   "right": 15
 }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>

  <!-- FOOTER  -->
  {% include footer.html %}



  <!-- JS LINKS -->
  {% include js.html%}

  <!-- JS SCRIPT -->
  {% include script.html%}

</body>
