<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>{{page.title}} | PyCardio</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  <!-- CSS -->
  {% include css.html %}
  </head>


<body>
  <main>

    <!-- Include Header-->
    {% include header.html %}

    <!-- CAMBIAR A CARROUSEL  -->
    <!-- Promo Block -->
    <div class="g-flex-centered g-bg-pos-center g-bg-img-hero g-pos-rel g-z-index-1 g-overflow-hidden" style="background-image: url(/assets/img/bg/bg-image1.png);" data-calc-target="#js-header">
      <div class="g-pos-abs g-top-0 g-left-0" data-animation="fadeInDown" data-animation-delay="100" data-animation-duration="1500">
        <img class="img-fluid" src="/assets/img/bg/bg-img1.png" alt="Image Description">
      </div>
      <div class="g-pos-abs g-bottom-0 g-right-0" data-animation="fadeInUp" data-animation-delay="1800" data-animation-duration="1500">
        <img class="img-fluid" src="/assets/img/bg/bg-img1.png" alt="Image Description">
      </div>

      <div class="container text-center g-z-index-1">
        <div class="mb-4">
          <h1 class="h2 d-inline-block g-color-black g-font-weight-700 g-font-size-40 g-font-size-75--md text-uppercase g-line-height-1" data-animation="fadeInDown" data-animation-delay="1000" data-animation-duration="1500">PY</h1>
          <h2 class="h2 d-inline-block g-color-primary g-font-weight-700 g-font-size-40 g-font-size-75--md text-uppercase g-line-height-1" data-animation="fadeInDown" data-animation-delay="1400" data-animation-duration="1500">Cardio</h2>
        </div>
      </div>
    </div>
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    <section class="text-center">
      <div class="row no-gutters">
        <!-- Icon Blocks -->
        <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-cyan-opacity-0_9--after g-color-white text-center g-pa-60" style="background-image: url(/assets/img/bg/iconblock2.jpg);">
          <div class="u-bg-overlay__inner">
            <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
                <i class="icon-communication-108 u-line-icon-pro"></i>
              </span>
            <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15"></h3>
                        <p class="g-font-size-16 g-mb-20">Obtaining PyCardio and his libraries</p>
            <a class="btn u-shadow-v21 g-bg-white g-color-cyan g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20" href="{{site.url}}/documentation/overview.html">Install</a>
          </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-purple-opacity-0_9--after g-color-white text-center g-pa-60" style="background-image: url(/assets/img/bg/iconblock3.jpg);">
          <div class="u-bg-overlay__inner">
            <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
                <i class="icon-communication-115 u-line-icon-pro"></i>
              </span>
            <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15"></h3>
            <p class="g-font-size-16 g-mb-20">Start using Pycardio in a few simple steps</p>
            <a class="btn u-shadow-v21 g-bg-white g-color-purple g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20" href="{{site.url}}/tutorials/getting_started.html">Documentation</a>
          </div>
        </div>
        <!-- End Icon Blocks -->

        <!-- Icon Blocks -->
        <div class="col-lg-4 u-bg-overlay g-bg-img-hero g-bg-teal-opacity-0_9--after g-color-white text-center g-pa-60" style="background-image: url(/assets/img/bg/iconblock1.jpg);">
          <div class="u-bg-overlay__inner">
            <span class="u-icon-v2 u-icon-size--lg u-shadow-v24 rounded-circle g-mb-25">
                <i class="icon-communication-029 u-line-icon-pro"></i>
              </span>
            <h3 class="h5 text-uppercase g-font-weight-600 g-mb-15"></h3>
            <p class="g-font-size-16 g-mb-20">Take a look of the last release in Github</p>
            <a class="btn u-shadow-v21 g-bg-white g-color-teal g-color-white--hover g-bg-white-opacity-0_4--hover g-font-size-12 text-uppercase g-font-weight-600 g-rounded-50 g-py-12 g-px-20" href="https://github.com/javierfm27/PyCardio/releases/latest">Releases</a>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </section>
    <!-- End Icon Blocks -->

    <!-- Brief Overview -->
    <div class="container">
      AQUÍ SE INCLUIRA UNA BREVE INTRO. AL ESTILO DE OVERVIEW
    </div>
    <!-- End Brief Overview -->

    <!-- Footer -->
    <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
      <div class="container">
        <div class="row">
          <!-- Footer Content -->
          <div class="col-lg-6 col-md-6 g-mb-40 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
            </div>

            <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
          </div>
          <!-- End Footer Content -->


          <!-- Footer Content -->
          <div class="col-lg-6 col-md-6">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
            </div>

            <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(/assets/img/maps/map2.png);">
          <!-- Location -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
            </div>
            <p class="mb-0">795 Folsom Ave, Suite 600, <br> San Francisco, CA 94107 795</p>
          </div>
          <!-- End Location -->

          <!-- Phone -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
          </div>
          <!-- End Phone -->

          <!-- Email and Website -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
              <br>
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">www.htmlstream.com</a>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Include Footer -->
    {% include footer.html %}

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>

  <!-- JS INCLUDE -->
  {% include js.html %}

  <!-- JS Plugins Init. -->
  {% include script.html %}

</body>

</html>
