<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>{{page.title}} | PyCardio</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  <!-- CSS LINKS -->
  {% include css.html %}
</head>

<body>
  <!-- HEADER -NAVBAR  -->
  {% include header.html %}

  <!-- BREADCRUMBER -->
  {% include breadc.html %}



  {{ content }}



  <!-- FOOTER  -->
  {% include footer.html %}



  <!-- JS LINKS -->
  {% include js.html%}
  
</body>
